.app {
    height: 100%;
    display: flex;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    justify-content: space-between;

    &--theme-light {
        color: var(--dark-primary);
        background-color: var(--bg-light);
    }

    &--theme-dark {
        color: var(--light-primary);
        background-color: var(--bg-dark);
    }
}

.header {
    &--front {
        margin-bottom: 180px;
    }

    &--list {
        margin-bottom: 95px;
    }

    &--detail {
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        position: absolute;
    }

    &--static {

    }
}

.footer {
    z-index: 2;
    position: relative;
}

@media (max-width: 2160px) {

}

@media (max-width: 1200px) {

}
