.app {
    height: 100%;
    min-height: 100vh;

    &--theme-light {
        color: var(--dark-primary);
        background-color: var(--bg-light);
    }
    &--theme-dark {
        color: var(--light-primary);
        background-color: var(--bg-dark);
    }
}
