.app {
    height: 100%;
    display: flex;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    justify-content: space-between;

    &--theme-light {
        color: var(--dark-primary);
        background-color: var(--bg-light);
    }

    &--theme-dark {
        color: var(--light-primary);
        background-color: var(--bg-dark);
    }
}

.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
}

.footer {
    z-index: 1;
    position: relative;
}
