.block {
    width: 100%;
    font-size: 24px;
    text-align: center;

    &--theme-light {
        color: var(--dark-secondary);
    }

    &--theme-dark {
        color: var(--light-secondary);
    }
}

@media (max-width: 2160px) {
    .block {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .block {
        font-size: 18px;
    }
}
