.grid {
    gap: 30px 20px;
}

@media (max-width: 2160px) {

}

@media (max-width: 1200px) {
    .grid {
        gap: 20px 10px;
    }

    .years {
        display: none;
        visibility: hidden;
    }

    .toolbarLinks {
        justify-content: flex-end;
    }
}
