.figure {
    display: block;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    img {
        width: auto;
        height: auto;
        margin: 0 auto;
        display: block;
    }
}

.figcaption {
    padding-top: 10px;
}

.text {
    font-size: 22px;
}

.caption {
    font-size: 18px;
    color: var(--light-secondary);
}
