.block {
    font-size: 90px;
    line-height: 1.2;
    font-weight: 450;
    text-decoration: none;
    transition: 0.3s opacity;
}

@media (max-width: 2160px) {
    .block {
        font-size: 76px;
    }
}

@media (max-width: 1200px) {
    .block {
        font-size: 32px;
    }
}
