.block {
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 15px;

    &--theme-light {
        background-color: var(--light-accent);
    }

    &--theme-dark {
        background-color: var(--dark-accent);
    }
}
