.block {

    display: flex;
    align-items: center;
    border-radius: 15px;

    &--main {
        padding: 16px;
    }

    &--regular {
        justify-content: space-between;

        &.block--theme-light,
        &.block--theme-dark {
            background-color: inherit;
        }
    }

    &--theme-light {
        background-color: var(--light-accent);
    }

    &--theme-dark {
        background-color: var(--dark-accent);
    }
}
