.block {
    gap: 65px;
    display: flex;
    flex-direction: column;
}

.item {
    &:nth-child(2) {
        &:after {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            grid-column: span 1;
            position: relative;
        }
    }
}

@media (width <= 2160px) {

}

@media (width <= 1200px) {
    .block {
        gap: 30px;
    }
}
