.block {
    padding: 60px 50px;
    border-radius: 28px;

    &--theme-light {
        background-color: var(--light-accent);
    }

    &--theme-dark {
        background-color: var(--dark-accent);
    }
}
