:root {
    --card-padding-l: 40px 40px 30px;
    --card-padding-m: 25px 25px 15px;
    --card-padding-s: 16px 16px 10px;

    --ui-item-height-l: 48px;
    --ui-item-height-m: 38px;
    --ui-item-height-s: 24px;

    --header-reg-padding-l: 0;
    --header-reg-padding-m: 0;
    --header-reg-padding-s: 0;

    --menu-mobile-item-height-l: 86px;
    --menu-mobile-item-height-m: 74px;
    --menu-mobile-item-height-s: 66px;
}
