.link {
    display: flex;
    padding: 0 22px;
    font-size: 28px;
    background: none;
    line-height: 1.3;
    min-height: 55px;
    text-align: center;
    border-radius: 50px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: var(--light-primary);

    @at-root button#{&} {
        cursor: pointer;
    }

    &:not(.link--skeleton) {
        border: 1px solid var(--light-primary);
    }

    &--active {
        background-color: red;
    }

    &--skeleton {
        width: 20px;
        background-color: #000066;

        &:nth-child(9n + 1),
        &:nth-child(9n + 3),
        &:nth-child(9n + 4) {
            width: 100px;
        }

        &:nth-child(9n + 2),
        &:nth-child(9n + 6) {
            width: 120px;
        }

        &:nth-child(9n),
        &:nth-child(9n + 5) {
            width: 120px;
        }

        &:nth-child(9n + 7) {
            width: 170px;
        }

        &:nth-child(9n + 8) {
            width: 200px;
        }
    }
}
