.block {
    flex-grow: 1;
    padding-bottom: 115px;
}

@media (max-width: 2160px) {
    .block {
        padding-bottom: 110px;
    }
}

@media (max-width: 1200px) {
    .block {
        padding-bottom: 40px;
    }
}
