.block {
    height: 86px;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-shrink: 0;
    font-size: 28px;
    line-height: 1.3;
    padding: 10px 40px;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
    color: var(--light-primary);
    transition: 0.3s background-color;
    background-color: var(--dark-accent);

    &--active {
        background-color: var(--blue);
    }
}
