.link {
    width: 40px;
    height: 24px;
    display: flex;
    border: 1px solid;
    border-radius: 30px;
    align-items: center;
    transition: 0.3s all;
    flex-direction: column;
    justify-content: center;

    &--theme-light {
        border-color: var(--dark-primary);

        svg {
            fill: var(--dark-primary);
        }
    }

    &--theme-dark {
        border-color: var(--light-primary);

        svg {
            fill: var(--light-primary);
        }
    }

    svg {
        width: 24px;
        height: 24px;
        display: block;
        transition: 0.3s fill;
    }
}

@media (max-width: 2160px) {

}

@media (max-width: 1200px) {
    .link {

        svg {
            width: 16px;
            height: 16px;
        }
    }
}
